<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beikei.backend.v2pojo.mapper.RefreshTokenMapper">

    <sql id="updateCommon">
        version = version + 1 and update_time = ${@com.beikei.backend.v2util.DateUtil@now()}
    </sql>

    <update id="update">
        UPDATE refresh_token SET `used` = #{token.used} and `refresh_time` = #{token.refreshTime}
        <include refid="updateCommon"/>
        WHERE ID = #{id} AND version = #{token.version}
    </update>

    <select id="one" resultType="com.beikei.backend.v2pojo.entity.V2RefreshToken" parameterType="long">
        SELECT * FROM  refresh_token WHERE ID = #{uid}
    </select>

</mapper>