<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beikei.backend.v2pojo.mapper.UserCharacterRelationShipMapper">

    <select id="selectRolesByUid" resultType="java.lang.String">
        SELECT cname  FROM CHARACTER C
        LEFT JOIN USER_CHARACTER UC ON C.id = UC.cid
        LEFT JOIN USER U ON U.id = UC.uid
        WHERE U.id = #{uid}
    </select>
</mapper>